@import "bootstrap.scss";
@import "_common.scss";

/*--------------------------------------------------------------
# HOME PAGE START
--------------------------------------------------------------*/

.why-choose-us {
  background-color: $light-primary;
  .margintop-negative {
    margin-top: -150px;
  }
}

.products {
  &::before {
    content: " ";
    height: 50%;
    @include position(absolute, null 0 0 0);
    background-color: $white;
    // z-index: 1;
  }
  .product-card {
    // @include shadow(0 0 16px 3px rgba($dark, 0.1));
    margin: 15px;
    border-color: transparent !important;
    background-color: transparent;
    .card-image {
      overflow: hidden;
      img {
        @include transform(scale(1));
        @include transition(all 0.5s);
      }
    }
    .card-body {
      background-color: $white;
      .card-btn {
        margin-top: -30px;
      }
    }
    &:hover {
      .card-image {
        img {
          @include transform(scale(1.1));
        }
      }
    }
  }
}

.testimonial {
  .quote-left {
    @include transform(scale(-1));
    margin-left: -12px;
  }
  .testimonial-carousel{
    @include rounded(0.5rem);
    overflow: hidden;
  }
  .slick-arrow{
    &.slick-prev{
      .btn{margin-right: -120px;}
    }
    &.slick-next{
      .btn{margin-left: -120px;}
    }
  }
  @include media-breakpoint-down(sm){
    .slick-arrow{
      &.slick-prev{
        .btn{margin-right: -50px;}
      }
      &.slick-next{
        .btn{margin-left: -50px;}
      }
    }
  }
  .testimonial-card {
    border: 0;
    background-color: $light-primary;
    .quote-left {
      svg {
        width: 80px !important;
        height: 80px !important;
      }
    }
    .img-holder {
      position: relative;
      @include media-breakpoint-down(xl){
        max-height: 300px;
      }
      img {
        object-fit: cover;
        object-position: center;
      }
      &::after {
        content: " ";
        @include position(absolute, 0 0 0 0);
        width: 100%;
        height: 100%;
        background-color: rgba($primary, 0.7);
      }
    }
  } 
  .slick-slide{
    @include media-breakpoint-up(xl){
      .testimonial-card{
        @include transform(scaleX(-1));
      } 
    }
  }
  .slick-current {
    .testimonial-card{
      @include transform(scaleX(1));
    }
    .img-holder {
      &::after {
        opacity: 0;
      }
    }
    &+.slick-slide{
      .testimonial-card{
        @include transform(scaleX(1));
      } 
    }
  }
}

.map {
  .state-image-holder{

  }
   .state-image-line{
    background: $gray-300;
    width: 4px;
    @include rounded(10px);
    overflow: hidden;
    .line{
      padding: 0;
      &.active{
        @include rounded(10px);
        background-color: $primary;
      }
    }
   }
   .branch{
     &.active{
       fill: rgba($primary, 1);
     }
   }
}

.instagramfeed {
  .feed-image {
    position: relative;
    @include rounded(8px);
    overflow: hidden;
    .overlay {
      @include position(absolute, 0 0 0 0);
      background-color: rgba($primary, 0.7);
      width: 100%;
      height: 100%;
      opacity: 0;
      @include transition(all 0.5s);
    }
    @include hover() {
      .overlay {
        opacity: 1;
      }
    }
  }
  [style="display: flex; flex-direction: column; place-content: stretch flex-start; flex: 1 1 0%; width: 0px; gap: 30px;"] {
    @include child(1) {
      margin-top: 30px;
    }
    @include child(2) {
      margin-top: 70px;
    }
    @include child(3) {
      margin-top: 30px;
    }
    @include child(4) {
      margin-top: 0px;
    }
  }
}
